// DARK MODE
$btn: #0079FF;
$btn-hover: #60ABFF;
$bg: #141D2F;
$bg-content: #1E2A47;
$text: white;
$text-alt: white;
$shadow-xl: rgba(0, 0, 0, 0.15);
$icon-bg: brightness(1000%);
.blue-text {
    color: $btn;
}

.half-opacity {
    opacity: 0.5;
}