$container-xl: 1440px;
$container-l: 1140px;
$container-m: 960px;
$container-s: 540px;
@mixin responsive($device) {
    @if $device==xl {
        @media screen and (min-width: $container-xl) {
            @content;
        }
    }
    @else if $device==l {
        @media screen and (min-width: $container-l) and (max-width: $container-xl) {
            @content;
        }
    }
    @else if $device==m {
        @media screen and (min-width: $container-m) and (max-width: $container-l) {
            @content;
        }
    }
    @else if $device==s {
        @media screen and (max-width: $container-m) {
            @content;
        }
    }
    @else if $device==xs {
        @media screen and (max-width: $container-s) {
            @content;
        }
    }
}

$container-name: 'container';
.#{$container-name} {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 36px 36px;
    @include responsive(xs) {
        max-width: 350px;
        padding: 36px 18px;
    }
}

// INTRO CONTAINER
.container.intro {
    justify-content: space-between;
}

// FORM CONTAINER
.container.form {
    border-radius: 10px;
    padding: 16px 36px;
    gap: 8px;
    background-color: var(--bg-content);
    position: relative;
    .search-icon {
        height: 28px;
        width: 28px;
        background-image: url(../images/icon-search.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 10px;
        position: absolute;
        left: 16px;
    }
    .form-wrapper {
        flex: 1;
        margin-left: rem-calc(18);
        .search-input-control {
            font-size: 18px;
            width: 100%;
            @include responsive(xs) {
                font-size: 15px;
            }
        }
    }
}

// WIREFRAME HERO - MAIN SECTION
.container.hero {
    margin-top: 24px;
    background-color: var(--bg-content);
    border-radius: 10px;
    max-height: 600px;
    position: relative;
    overflow: hidden;
}

.user-avatar {
    grid-area: user-avatar;
    height: 96px;
    width: 96px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    flex: 3 0 auto;
}

.container .hero-content {
    display: grid;
    align-items: start;
    grid-template-columns: auto 1fr;
    grid-template-areas: 'user-avatar item-1' '. item-2' '. item-3' '. item-4' '. item-5';
    column-gap: 16px;
    width: 100%;
    clip-path: circle(0% at right 0 bottom 0);
    transition: clip-path .6s ease-in-out;
    @include responsive(s) {
        grid-template-areas: 'user-avatar item-1' 'item-2 item-2' 'item-3 item-3' 'item-4 item-4' 'item-5 item-5';
        gap: 8px;
    }
    .user-info-item-1 {
        grid-area: item-1;
    }
    .user-info-item-2 {
        grid-area: item-2;
    }
    .user-info-item-3 {
        grid-area: item-3;
        @include responsive(xs) {
            max-width: 400px;
        }
    }
    .user-info-item-4 {
        grid-area: item-4;
        @include responsive(xs) {
            padding: 16px 8px;
            max-width: 100%;
        }
    }
    .user-info-item-5 {
        grid-area: item-5;
    }
}

.user-info-item-1 {
    grid-area: item-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    @include responsive(s) {
        grid-template-columns: auto;
    }
    .user-joined-at {
        justify-self: end;
        @include responsive(s) {
            justify-self: initial;
            grid-row: 3;
        }
    }
}

.container .hero-content.is-active {
    clip-path: circle(100%)
}

.hero-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(0% at bottom 0 right 0);
    height: 100%;
    width: 100%;
    opacity: 0.9;
    pointer-events: none;
    z-index: 99;
    background-color: inherit;
    text-align: center;
    justify-content: center;
    display: flex;
    transition: clip-path .6s ease-in-out;
}

.hero-backdrop.is-active {
    clip-path: circle(100%);
    pointer-events: all;
    // border-radius: 10px;
}

// USER INFO
.user-info-wrapper {
    flex: 1 1 auto;
}

.user-info-item-4 {
    background-color: $bg;
    border-radius: 10px;
    padding: 16px 16px;
    max-width: 100%;
}

.user-info-item-5 {
    display: grid;
    gap: 8px;
    row-gap: 16px;
    grid-template-areas: 'user-location user-social-network ' 'user-github-profile user-company';
    @include responsive(xs) {
        grid-template-areas: 'user-location' 'user-social-network' 'user-github-profile' 'user-company';
    }
}

.user-location {
    grid-area: user-location
}

.user-social-network {
    grid-area: user-social-network
}

.user-github-profile {
    grid-area: user-github-profile
}

.user-company {
    grid-area: user-company
}

.theme-box {
    position: relative;
    .theme-switcher {
        margin-right: 32px;
    }
    &.light-icon {
        &::after {
            content: '';
            position: absolute;
            vertical-align: middle;
            top: 0;
            right: 0;
            background-position: center right;
            width: 100%;
            height: 100%;
            pointer-events: none;
            background-image: url('../images/icon-sun.svg');
            background-repeat: no-repeat;
        }
    }
    &.dark-icon {
        &::after {
            content: '';
            position: absolute;
            vertical-align: middle;
            background-position: center right;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            background-image: url('../images/icon-moon.svg');
            background-repeat: no-repeat;
        }
    }
}